// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-dark .navbar-nav .nav-item .nav-link:focus,
.navbar-dark .navbar-nav .nav-item .nav-link:hover {
  color: red;
}

.bg {
    min-height: 70vh;
    background-image: url('https://visualhunt.com/vh2/img/vh-bg-1920x1080-min-1.jpg');
    background-size: cover;
    background-position: bottom center;
}

.sticky-top {
    transition: all 0.25s ease-in;
}

/* style for when sitcky is applied */
.stuck .navbar.sticky-top {
    background-color: #222 !important;
    padding-top: .8rem !important;
    padding-bottom: .8rem !important;
}
